/*
* @Author: Marte
* @Date:   2017-07-31 21:13:52
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-01 09:04:36
*/

/*样式初始化*/
body{
    background-color: #efefef;
}

*{
    margin:0px;
    padding:0px;
}


/*boostrap样式修改 start*/
.container{
    padding: 0;

}

 .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #99CCCC;
}

.nav-pills > li + li {
    margin-left: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #39c;
}
/*boostrap样式修改 end*/
